@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,

/*Swiper start*/

.a-product-container {
  max-width: 124rem;
  padding-right: 0 1rem;
  margin: 0;
}
.a-text-center {
  text-align: center;
}

.a-section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 0.5rem 0;
}

.a-swiper_container{
  width: 900px;
}

/*Swiper end*/

.a-product-card {
  user-select: none;
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 241px;
  color: black;
  margin-bottom: 20px;
  flex: none;
  max-width: 260px;
}

.a-product-card .a-top-card {
  margin-top: 38px;
  background: #453730;
  border: 2px solid rgba(255, 255, 255, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 15px 15px 0 0;
  height: 40%;
  position: relative;
}

.a-image-container{
  position: absolute;
  z-index:  9;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
}

.a-product-image {
  width: 220px;
  height: auto;
  transform: rotate(-10deg);
}

.a-top-card .a-product-price {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0.25rem;
  right: .75rem;
}

.a-container h3{
  color: #222;
}

.a-product-card .a-bottom-card {
  background-color: white;
  height: 60%;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.a-bottom-card .a-product-name {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  margin-top: 1.2rem;
}

.a-bottom-card .a-product-name h6 {
  color: #9397a0;
}

.a-product-description{
  height: 90px;
  overflow:auto;
  scrollbar-width:  none;
}

.a-bottom-card .a-product-description p {
  text-align: center;
  font-size: 9px;
  color: #545454;
  max-width: 75%;
  margin: auto;
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif; /* Agregado el nombre correcto de la fuente */
}

.a-cta-add-to-cart {  
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 25px;
  min-width: 10px;
  outline: none;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 75%;
  left: 50%;
  transform: translate(-50%, 30%);
}

.a-cta-add-to-cart:hover,
.a-cta-add-to-cart:focus {
  background-color: #454545;
}