.card-instance {
    background-color: darkgrey;
    width: 75vw;
    height: 250px;
}

.instance-swiper {
    color: rgb(77, 77, 82);
}

.card-instances-sipers-slide{
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.swiper-slide-bg {
    height: 100%;
    background-color: aquamarine;
}
