.card-instance {
    width: 75vw;
    background: transparent;
   color: #111111;
   backdrop-filter: blur(8px);
   border: 2px solid rgba(255, 255, 255, .05);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  }
  
  .card-instance-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .instance-swiper {
    color: rgb(77, 77, 82);
    width: 100%;
  }

  .swiper-slide-bg {
    display: flex;
    justify-content: center;
  }
  
  .general-product-card {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    flex: none;
    margin-right: 0;
  }
    
  .carousel-viewport {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    margin: 0;
  }
  
  .card-instance-internal-space {
    width: 95%;
    height: 100%;
  }
  
  .title-block {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 25px;
    margin: 10px 0 0;
  }

  .title-block-left {
    font-size: 21px;
    line-height: 1.5;
  }

  .title-block-right{
    color: rgb(70, 121, 163);
    line-height: 1.5;
    padding-left: 2%;
    padding-bottom: 0.2%;
  }
  
  .general-product-image {
    width: 220px;
    height: auto;
  }

  