/* Products.css */

.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: #f9f9f9;
}

.card img {
  max-width: 100%;
  height: 50%;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card h3 {
  margin: 10px 0;
  color: #333;
}

.card h4 {
  color: #e44d26;
}

.card button {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.card button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.card button:hover {
  background-color: #045f91;
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
}


.card button:active {
  background-color: #00d049;
  transform: scale(0.95);
}

@media (min-width: 768px) {
  .card button {
    padding: 16px 48px;
  }
}

/* Container for the grid */
.card-container {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  grid-auto-rows: auto;
  grid-gap: 20px; /* Adjust the gap between cards as needed */

  /* Responsive Design */
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row for smaller screens */
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row for even smaller screens */
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr; /* 1 card per row for mobile screens */
  }
}
