*
.contentWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background: #fff;
    color: #212127;
    padding: 3rem 5rem;

    forms {
      display: flex;
      flex-direction: column;
      width: 20rem;

      input {
        margin: .5rem 0;
        color: #322D39;
        outline: none;
        padding: 1.5rem 1rem;
        border: solid 1px #322D39;

        &:focus {
          border-color: #F72C25;
        }
      }

      button {
        padding: 1rem;
        color: #fff;
        background: #342e4a;
        border: none;
        cursor: pointer;
        transition: background .7s;

        &:hover {
          background: #514776;
        }
      }

      & .__container {
        text-align: center;

        a {
          display: inline-block;
          color: #F72C25;
          margin: 1rem 0;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
