.banner-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content {
  user-select: none;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 9;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  width: 20%;
  z-index: 10;
  align-self: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
}

.call-to-action h1{
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  padding-bottom: 20px;
}

.call-to-action h4 {
  font-size: 12px;
  margin-bottom: 20px;
}

.coffee-cup-container {
  width: 300px;
  user-select: none;
  z-index: 9;
}

.home-container h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.product-card-home {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}


.call-to-action-button {
  background-color: #ffffff;
  border-radius: 25px;
  border: none;
  box-sizing: border-box;
  color: #191919;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  max-width: 120px;
  max-height: 30px;
  min-height: 25px;
  min-width: 10px;
  outline: none;
  padding: 2px 10px 2px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5);
}

.call-to-action-button:hover {
  background-color: #386131;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .hero-content {
    width: 80%;
  }

  .call-to-action {
    width: 80%;
  }

  .coffee-cup-container {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .hero-content {
    width: 90%;
  }

  .call-to-action {
    margin-top:  10rem;
    width: 90%;
    margin-left: 2rem;
  }

  .call-to-action h1{
    font-size: 30px;
  }

  .coffee-cup-container {
    width: 100%;
  }

  .home-container {
    overflow: hidden;
  }
}

.general-products {
  width: 100%;
  margin: 1rem 0;
}

.home-card-instance {
  display: flex;
  justify-content: center;
}
