  .navbar {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    z-index:  999;
  }

  .login-icon {
    transform: translate(40%, 20%);
  }

  .navbar a {
    text-decoration: none;
    color: inherit;
  }
  
  .navbar-logo {
    margin: 0;
    transform: translateY(15%) scale(1.2);
  }
  
  .Cart {
    color: inherit;
    font-size: 24px;
    text-decoration: none;
  }
  
.items {
  padding-right: 30px;
}
  
.navbar-right {
  display: flex;
  align-items: center;
}