@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.general-container {
  width: 100%;
  height: 100%;
}

.bg {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
}

.internal-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height:  100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: white;
  background: url('../assets/img/background.jpg') no-repeat  fixed center / cover ;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


