.banner {
    background-position: center;
    height: 40vh;
    width: 100vw;
}

.banner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12% 0;
    justify-content: center;
}

.banner h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: bold;
}

.banner p {
    font-size: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}