
.banner-text {
  position: absolute;
  width: 500px;
  background: transparent;
  backdrop-filter: blur(8px);
  border: 2px solid rgba(238, 223, 223, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  border-radius: 10px;
  padding: 20px 40px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 6% 10%;
  text-align: center;
}

.hero-content {
  user-select: none;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 9;
  justify-content: space-around;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  width: 20%;
  z-index: 10;
  align-self: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
}

.call-to-action h1{
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  padding-bottom: 20px;
}

.call-to-action h4 {
  font-size: 12px;
  margin-bottom: 20px;
}

.coffee-cup-container {
  width: 300px;
  user-select: none;
  z-index: 9;
}

@media only screen and (max-width: 768px) {
  .CoffeeCupImg {
    width: 50%;
    right: -10%;
  }
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: orangered;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.banner-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-swiper {
  width: 100%;
  height: 70vh;
  position: relative;
}

.banner-title {
  margin-bottom: 10px;
}

.banner-subtitle {
  margin-bottom: 15px;
}

.banner-description {
  margin-bottom: 20px;
}

.banner-text h4 {
  font-size: 25px;
  color: rgb(123, 90, 27);
}

.banner-text h3 {
  font-size: 18px;
}

.banner-text h2 {
  font-size: 12px;
}
